{
    "presets": [
        [
            "next/babel",
            {
                "preset-react": {
                    "runtime": "automatic",
                    "importSource": "@emotion/react"
                }
            }
        ]
    ],
    "plugins": [
        ["@emotion/babel-plugin"],
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@components": "./components",
                    "@const": "./constants",
                    "@hooks": "./hooks",
                    "@public": "./public",
                    "@styles": "./styles"
                },
                "extensions": [".ts", ".tsx"]
            }
        ]
    ]
}
